:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --acsent-text-color: #2196f3;
  --color-white: #ffffff;
  --color-hero-footer: #2f303a;
  --color-button-hero: #188ce8;
}

body {
  background-color: var(--color-white);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  margin: 0;
}
.header-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 93px;

}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-padding {
  padding-top: 60px;
  padding-bottom: 20px;
}
.item-mail {
  padding-top: 9px;
}
.item-tel {
  padding-top: 9px;
  padding-bottom: 60px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-top: 0;
}
.item {
  margin-right: 50px;
}
.item:last-child {
  margin-right: 0;
}
.list.comand {
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;

  background: var(--color-white);
}

.item-contact:not(:last-child) {
  margin-right: 50px;
}
.text-note {
  text-decoration: none;
  color: var(--primary-text-color);
  font-style: normal;

  line-height: 1.14;
}
.text-note:hover,
.text-note:focus {
  color: var(--acsent-text-color);
}
.text-note {
  font-weight: 500;
}

.text-note.fonts {
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.1;
}
.text-note.fonts:hover {
  color: var(--primary-text-color);
}

.current {
  color: var(--acsent-text-color);
}
.contact {
  color: var(--secondary-text-color);
  font-weight: normal;
}

/* LOGO */
.color-logo {
  color: var(--acsent-text-color);
}
.content-list {
  margin-left: auto;
}

/* section-hero */

.hero {
  background-color: var(--color-hero-footer);
  transform: uppercase;
  text-transform: uppercase;

  height: 600px;
  left: 0px;
  top: 80px;
  padding: 200px 0px 280px 0px;
}
.hero-h {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  width: 696px;
  height: 120px;
  right: 452px;
  bottom: 1949px;

  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: var(--acsent-text-color);
  font-family: inherit;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  margin-left: 485px;
  margin-right: 485px;
  border-radius: 4px;
  border: solid transparent;
}
.button:hover {
  background-color: var(--color-button-hero);
}
.button-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-white);
}
.section-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.caption {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
}
/* Section Features */
.features .features-text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
}
.headline {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Section Comand */
.comand {
  background-color: #f5f4fa;
}
.subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 0;
}

.footer {
  background-color: var(--color-hero-footer);
  flex-direction: column;
}

.slogan {
  color: var(--color-white);
}
.tagline {
  font-style: normal;
  font-weight: 400;

  line-height: 1.71;

  color: var(--color-white);
}

.control {
  outline-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
}
.control:hover,
.control:focus {
  background-color: var(--acsent-text-color);
  color: var(--color-white);
}

.items {
  text-decoration: none;
}
.desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.excerpt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px 0 15px;
  outline: solid tomato;
}
.header-contact {
  display: flex;
  align-items: center;
  height: 80px;
  left: 0px;
  top: 0px;
}
.list .item-main + .item-main {
  margin-left: 30px;
}
.container-portfolio {
  
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px 0 15px;
  outline: solid tomato;
}
